{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
{% endblock %}

{% block content %}
    <div class="profile-wrapper">
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-avatar">
                    {{ user.get_full_name|slice:":1"|upper }}
                </div>

                <div class="profile-info">
                    <h3>{{ user.get_full_name|default:user.username }}</h3>
                    <small>{{ user.email }}</small>
                </div>
            </div>

            <div class="profile-body">
                <div class="profile-row">
                    <span>Username</span>
                    <span>{{ user.username }}</span>
                </div>

                <div class="profile-row">
                    <span>Full Name</span>
                    <span>{{ profile.full_name|default:'-' }}</span>
                </div>

                <div class="profile-row">
                    <span>Phone Number</span>
                    <span>{{ profile.phone_number|default:'-' }}</span>
                </div>

                <div class="profile-row">
                    <span>Email</span>
                    <span class="email-status">
                        {{ user.email|default:'-' }}

                        {% if user.is_email_verified %}
                            <span class="verified">✔
                                <span class="tooltip">verified</span>
                            </span>
                        {% else %}
                            <span class="not-verified">✖
                                <span class="tooltip">Not verified</span>
                            </span>
                        {% endif %}
                    </span>
                </div>

                <div class="profile-row">
                    <span>Currency</span>
                    <span>{{ user.currency }}</span>
                </div>

                <div class="profile-row">
                    <span>Timezone</span>
                    <span>{{ user.timezone }}</span>
                </div>

                <div class="profile-row">
                    <span>Language</span>
                    <span>{{ user.language }}</span>
                </div>
                <div class="profile-row">
                    <span>Account Status</span>
                    <span>{{ user.account_status }}
                         <!-- Indicator -->
                        <span class="status-indicator {{ user.account_status|lower }}"></span>
                    </span>
                </div>
            </div>

            <div class="profile-actions">
                <a href="#" class="btn primary editProfileBtn" id="editProfileBtn">Edit Profile</a>
                <a href="#" class="btn outline" id="changePasswword">Change Password</a>
            </div>
        </div>
    </div>
    <!-- EDIT PROFILE POPUP -->
    <div class="modal-overlay" id="editProfileModal">
        <div class="modal">
            <div class="modalTop">
                <h3 class="edit-popup-layer">Edit Profile</h3>
                <span class="material-icons close-modal" id="close-modal-btn">close</span>
            </div>

            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label class="edit-popup-layer">Full Name</label>
                    {{ form.full_name }}
                </div>

                <div class="form-group">
                    <label class="edit-popup-layer">Phone Number</label>
                    {{ form.phone_number }}
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn outline close-modal" id="closeModal">
                        Cancel
                    </button>
                    <button type="submit" class="btn primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div  class="modal-overlay" id="changePasswordButton">
        <div class="modal">
            <div class="modalTop">
                <h3 class="edit-popup-layer">Change Password</h3>
                <span class="material-icons close-modal" id="close-modal-btn">close</span>
            </div>

            <form method="post" action="{% url 'update_password' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label class="edit-popup-layer">Old Password</label>
                    {{ passwordForm.old_password }}
                </div>

                <div class="form-group">
                    <label class="edit-popup-layer">New Password</label>
                    {{ passwordForm.new_password }}
                </div>

                <div class="form-group">
                    <label class="edit-popup-layer">Confirm Password</label>
                    {{ passwordForm.confirm_password }}
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn outline close-modal" id="closeModal">
                        Cancel
                    </button>
                    <button type="submit" class="btn primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
 <script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}