{% load static %}
<aside>
<div class="top">
    <div class="logo">
        <a href="../../index.html">
        <img src="{% static 'assets/logo.svg' %}" alt="Logo Monances" />
        </a>
        <a href="../../index.html">
            <h3>Paypr</h3>
        </a>
    </div>
    <div class="close" id="close-btn">
        <span class="material-icons" onclick="MobileMenu.close()"
            >close</span
            >
    </div>
</div>
<div class="sidebar">
    <a href="{% url 'dashboard' %}">
        <span class="material-icons">grid_view</span>
        <p>Dashboard</p>
    </a>
    <a href="{% url 'profile' %}">
        <span class="material-icons">contact_page</span>
        <p>Profile</p>
    </a>
   <a href="{% url 'logout' %}" onclick="return confirmLogout(event)">
        <span class="material-icons">logout</span>
        <p>Logout</p>
    </a>
</div>
</aside>