{% load static %}
<div class="modal-overlay" id="transactionModal">
   <div class="modal">
      <div id="form">
         <div class="modalTop">
            <h2 class="view_transactions_header">View Transaction</h2>
            <span
               class="material-icons"
               id="close-modal-btn"
               onclick="ModalEditTransactions.close()"
               >close</span
               >
         </div>
         <form action="{% url 'update_transactions' %}" method="post" id="demoForm">
            {% csrf_token %}
            <input type="hidden" name="id" id="transaction_id" value="">
            <div class="drop-down-wallet-categories">
               <div>
                  <label class="sr-only-view-transactions" for="wallet">Wallet Type <span style="color:red">*</span></label>
                  <select class="drop-down-wallet view-transaction-wallet" id="wallet" name="wallet" required>
                     <option value="">Select Wallet</option>
                     {% for w in wallets %}
                     <option value="{{ w.id }}"
                     >{{ w.name }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div>
                  <label class="sr-only-view-transactions" for="category">Category Type <span style="color:red">*</span></label>
                  <select class="drop-down-categories view-transaction-categories" id="category" name="category" required>
                     <option value="">Select Category</option>
                     {% for c in categories %}
                     <option value="{{ c.id }}" data-type="{{ c.type }}">
                        {{ c.name }}
                     </option>
                     {% endfor %}
                  </select>
               </div>
            </div>
            <div class="input-group-view-transaction">
               <label class="sr-only-view-transactions" style="margin-top: 2rem;" for="Title">Title <span style="color:red">*</span></label>
               <input
                  type="text"
                  id="title"
                  class="view-transaction-title"
                  name="title_field"
                  placeholder="Title"
                  style="margin-top: 0;"
                  required
                  />
            </div>
            <div class="input-group-view-transaction">
               <label class="sr-only-view-transactions" for="description">Description</label>
               <input
                  type="text"
                  id="description"
                  name="description"
                  class="view-transaction-description"
                  placeholder="Description"
                  style="margin-top:0;"
                  />
            </div>
            <div class="input-group-view-transaction">
               <label class="sr-only-view-transactions" for="amount">Amount <span style="color:red">*</span></label>
               <input
                  type="number"
                  id="amount"
                  name="amount"
                  class="view-transaction-amount"
                  step="0.01"
                  placeholder="0.00"
                  required
                  />
               <small class="help"
                  >Select "Income" to incomes and "Expense" to expenses</small
                  >
            </div>
            <input type="hidden" name="transaction_type" id="transaction_type" class="transaction_type_view" value="income">
            <div class="buttons-income-expense">
               <button
                  id="incomeButton"
                  onclick="Form.setIncomeView();  return false;"
                  class="income incomeButtonView"
                  name="transaction_type">
               Income
               </button>
               <button
                  id="expenseButton"
                  onclick="Form.setExpenseView(); return false;"
                  class="expenseButtonView"
                  name="transaction_type">
               Expense
               </button>
            </div>
            <div class="input-group-view-transaction">
               <label class="sr-only-view-transactions" for="date" style="margin-top: 2rem;">Transaction Date</label>
               <input
                  type="date"
                  id="date"
                  name="transaction_date"
                  class="transaction_date"
                  style="margin-top: 0;"
               />
            </div>
            <div class="actions">
               <!-- <a href="#" id="cancelTransaction" class="button cancel" onclick="Modal.close()">Cancelar</a> -->
               <button class="delete" type="" style="margin-right:0.8rem">Delete</button>
               <button class="save save-view-button-close" type="button" style="margin-left:0.8rem" onclick="toggleEditSave(this)">Update</button>
            </div>
         </form>
      </div>
   </div>
</div>