
{% extends 'layout.html' %}
{% load static %}     
<!-- END OF SIDEBAR -------------------- -->
{% block content %}
<div class="topMenu">
    <h2 id="date-display"></h2>
</div>
<section id="balance">
    <h2 class="sr-only">Balance</h2>
    <div class="card" onclick="Modal_incomes.open('income')">
        <h3>
            <span>Incomes</span>
            <img src="{% static 'assets/incomes.svg' %}" alt="Income image" />
        </h3>
        <p id="incomeDisplay">{{ income_total }}</p>
        <p id="dateDisplay"></p>
    </div>
    <div class="card" onclick="Modal_incomes.open('expense')">
        <h3>
            <span>Expenses</span>
            <img src="{% static 'assets/expenses.svg' %}" alt="Expense image" />
        </h3>
        <p id="expenseDisplay">{{ expense_total }}</p>
    </div>
    <div class="card total">
        <h3>
            <span>Balance</span>
            <img class="total" src="{% static 'assets/total.svg' %}" alt="Imagem de total" />
        </h3>
        <p id="totalDisplay">{{ balance }}</p>
    </div>
</section>
<!--END OF BALANCED SECTION-->
<section id="transaction">
    <h2 class="sr-only">Transactions</h2>
    <div class="last-transactions">
        <div class="table-top">
            <h2>Last Transactions</h2>
            <button
            href="#"
            id="newTransaction"
            class="button new"
            onclick="Modal.open()"
            >
            + New Transaction
            </button>
        </div>
        {% include 'dashboard/transaction_table.html' %}
</section>
<!--END OF TRANSACTION SECTION-------------------- -->
<div class="addTransactionMobileButton">
    <button href="#" id="newTransactionMobile" onclick="Modal.open()">
    <span class="material-icons">add</span>
    </button>
</div>
{% endblock %}