<div class="table-container">
    <table id="data-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Category</th>
            <th>Wallet</th>
            <th style="padding-left:2rem;">Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for v in transactions %}
        <tr onclick="openTransactionPopup('{{ v.id }}')" style="cursor:pointer;">
        <td>{{ forloop.counter }}</td>
        <td class="truncate_title">{{ v.title_field }}</td>
        <td>{{ v.category.name }}</td>
        <td>{{ v.wallet.name }}</td>
        <td style="text-align:left;">
            {% if v.transaction_type == "income" %}
                <span class="income truncate_amount">+ ₹{{ v.amount }}</span>
            {% else %}
                <span class="expense truncate_amount">- ₹{{ v.amount }}</span>
            {% endif %}
        </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No transactions found</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>